VITE_API_BASE_URL=http://localhost:4000/api
VITE_WS_BASE_URL=ws://localhost:4000/ws
VITE_FIREBASE_API_KEY=AIzaSyBT3A5xm5uldkSiWMNGl4lv4hzXkEPohxE
VITE_FIREBASE_AUTH_DOMAIN=learningtracker-2cb4c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=learningtracker-2cb4c
VITE_FIREBASE_APP_ID=1:995955973850:web:ce7db8dfaca7bd10dccfe3
VITE_FIREBASE_MESSAGING_SENDER_ID=995955973850
VITE_FIREBASE_VAPID_KEY=
